<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/views/Assets/style.css" />
    <title>Luxurious Rental cars</title>
  </head>
  <body onload="display()">
    <nav>
      <h1 id="logo">Luxit</h1>
      <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#ourServices">Our Services</a></li>
          <li><a href="#ourStory">Our Story</a></li>
          <li><a href="#ourFleets">Our fleets</a></li>
          <li><a href="">Cooperation</a></li>
      </ul>
      <a href="/views/login.html"><span id="Login">Login</span></a>
  </nav>
    <div id="home" class="Pcontainer">
      <h3>Luxurious <span>VIP</span> Transfers</h3>
      <div  class="container1">
        <p>
          Welcome to our Luxit rental website! <br />
          We offer luxury transportatio, services for any occasion, from
          weddings and proms to corporate events and airport transfers.
        </p>
        <button>Open Fleet</button>
      </div>
      <div class="container2">
        <span>
          <h4>Pick up Adress</h4>
          <p>From: adress, airport, hotel,..</p>
        </span>
        <hr />
        <span>
          <h4>Drop Off Adress</h4>
          <p>Distance, Hourly, Flat Rate</p>
        </span>
        <hr />
        <span>
          <h4>Pick up Date</h4>
          <p>NOV 28, 2023</p>
        </span>
        <hr />
        <span>
          <h4>Pick up Time</h4>
          <p>12:25 am</p>
        </span>
        <span>
          <button>Book now</button>
        </span>
      </div>
    </div>
    <div id="ourServices" class="Pcontainer2">
      <div class="container2-1">
        <h1>Our Services</h1>
        <p>
          We understand that every event is unique, and we strive to accommodate
          your individual needs.
        </p>
      </div>
      <div class="container2-2">
        <button>Intercity Tips</button>
      </div>
      <div class="container2-3">
        <button>Airport transfer</button>
      </div>
      <div class="container2-4">
        <button>Business Meeting</button>
      </div>
      <div class="container2-5">
        <button>Charter Service</button>
      </div>
    </div>
    <div class="banner">
      <div class="Cbanner1">
        <span>
          <i class="fa-solid fa-user-shield" style="color: #ffffff"></i>
          <h3>Safety First</h3>
        </span>
        <p>Experienced staff and professionally trained chauffeurs</p>
      </div>
      <div class="Cbanner2">
        <span>
          <i class="fa-solid fa-money-bills" style="color: #ffffff"></i>
          <h3>Reasonable Rates</h3>
        </span>
        <p>
          we can offer you the right vehicle at the right price to fit your
          budget
        </p>
      </div>
      <div class="Cbanner3">
        <span>
          <i class="fa-solid fa-bus" style="color: #ffffff"></i>
          <h3>Largest Fleet</h3>
        </span>
        <p>
          We offer an extensive fleet of vehicles including sedans, limousines
          and coach buses
        </p>
      </div>
      <div class="Cbanner4">
        <span>
          <i class="fa-solid fa-map-location-dot" style="color: #ffffff"></i>
          <h3>Nationwide Service</h3>
        </span>

        <p>We provide our transportation services nationwide</p>
      </div>
    </div>

    <div id="ourStory" class="Pcontainer3">
      <div class="container3-1">
        <h3>Our Story</h3>
        <p>
          At our limousine rental compagny, we believe that luxury
          transportation should be accessible to everyone.
        </p>
      </div>
      <div class="container3-2">
        <h2>+80K</h2>
        <p>Served customers all over the country</p>
      </div>
      <div class="container3-3"></div>
      <div class="container3-4">
        <p>
          Our fleet of limousines is second to none, with a wide range of
          vehicles to choose from, including sleek sedans, spacious SUVs, and
          classic stretch limousines.All of our vehicles are meticulously
          maintained and kept in pristine condition, ensuring that you arrive at
          your destination in style and comfort.
        </p>
      </div>
      <div class="container3-5"></div>
    </div>
    <div id="ourFleets" class="Pcontainer4">
      <div class="container4-1">
        <h3>Our Fleets</h3>
        <p>
          Our limousines are equipped with all the latest amenties, including
          plush leather seating, climate control and state-of-the-art sound
          systems
        </p>
      </div>
      <div class="container4-2">
        <a href="" class="active">All</a>
        <hr />
        <a href="">Luxury</a>
        <hr />
        <a href="">Business</a>
        <hr />
        <a href="">Crossover</a>
      </div>
      <div class="container4-3">
        <div class="Ccontainer4-3">
          <img
            src="/views/Assets/Product/csm_rent-Aston-Martin_ac0f1ec971.png"
            alt=""
          />
          <p>Mercedes Benz S Class</p>
          <span>
            <i class="fa-solid fa-users" style="color: #ffffff"></i>
            <p>2</p>
          </span>
        </div>
        <div class="Ccontainer4-3">
          <img src="/views/Assets/Product/csm_Bugatti-mieten_67aaafd73d.png" alt="" />
          <p>Mercedes Benz S Class</p>
          <span>
            <i class="fa-solid fa-users" style="color: #ffffff"></i>
            <p>2</p>
          </span>
        </div>
        <div class="Ccontainer4-3">
          <img src="/views/Assets/Product/csm_Audi-mieten_41c12c0b92.png" alt="" />
          <p>Mercedes Benz S Class</p>
          <span>
            <i class="fa-solid fa-users" style="color: #ffffff"></i>
            <p>5</p>
          </span>
        </div>
      </div>
      <div class="btn">
        <button>
          <i class="fa-solid fa-arrow-down" style="color: #111111"></i>
          Open All Vehicles
        </button>
      </div>
    </div>
    <div class="Pcontainer5">
      <div class="container5-1">
        <h3>Your Next Travel with US?</h3>
        <p>Use our online tool to calculate the total cost of your ride</p>
        <button>Calculate Now</button>
    </div>
    <div class="container5-2">
      <img src="/views/Assets/Product/van-class-v-removebg-preview (1).png" alt="">
   </div>
    </div>
    
    <!-- slideshow -->
    <div class="slider">
      <div class="slides">
          <div class="slide">
              <img src="/views/Cooperator/audi-logo-2016-download.png" alt="Audi">
          </div>
          <div class="slide">
              <img src="/views/Cooperator/porsche-logo-2014-full-download.png" alt="Audi">
          </div>
          <div class="slide">
              <img src="/views/Cooperator/bentley-logo-2002-download.png" alt="Audi">
          </div>
          <div class="slide">
              <img src="/views/Cooperator/cadillac-logo-2021-full-download.png" alt="Audi">
          </div>
          <div class="slide">
              <img src="/views/Cooperator/jaguar-logo-2021-download.png" alt="Audi">
          </div>
          <div class="slide">
              <img src="/views/Cooperator/jeep-logo-1993-download.png" alt="Audi">
          </div>
          <div class="slide">
              <img src="/views/Cooperator/maserati-logo-2020-download.png" alt="Audi">
          </div>
          <div class="slide">
              <img src="/views/Cooperator/Maybach-logo-red-2048x2048.png" alt="Audi">
          </div>
          <div class="slide">
              <img src="/views/Cooperator/Mercedes-Benz-logo-2011-1920x1080.png" alt="Audi">
          </div>
          <div class="slide">
              <img src="/views/Cooperator/Rolls-Royce-logo-2048x2048.png" alt="Audi">
          </div>
          <div class="slide">
              <img src="/views/Cooperator/tesla-logo-2007-full-download.png" alt="Audi">
          </div>
        </div>
        <button class="prev" onclick="prevSlide()">&#10094;</button>
      <button class="next" onclick="nextSlide()">&#10095;</button>
  </div>
    <!-- footer -->
    <div class="footer">
      <div class="Cfooter1">
        <h1>Luxit</h1>
        <form action="get">
          <label for="">Subscribe to the newsletter</label>
          <div class="inputbtn">
            <input type="text" name="Email" id="Email" placeholder="Email ...">
            <button><i class="fa-solid fa-angle-right" style="color: #ffffff;"></i></button>
          
          </div>
        </form>
      </div>
      <div class="Cfooter2">
        <ul>
          <li><h3>Top cities</h3></li>
          <li>New York</li>
          <li>London</li>
          <li>Berlin</li>
          <li>Los Angeles</li>
          <li>Paris</li>
        </ul>
      </div>
      <div class="Cfooter3"> 
        <ul>
          <li><h3>Explore</h3></li>
          <li>Intercity rides</li>
          <li>Limousine service</li>
          <li>Chaufeur service</li>
          <li>Private car service</li>
          <li>Airport transfer</li>
        </ul>
      </div>
      <div class="Cfooter4">
        <ul>
          <li><h3>Intercity rides</h3></li>
          <li>Easr Hampton - New York</li>
          <li>New York - Washington</li>
          <li>New York - Philadelphia</li>
          <li>Abu Dhabi - Dubai</li>
          <li>London - Birmingham</li>
        </ul>
      </div>
      <div class="Cfooter5">
        <ul>
          <li id="headline">2023 Luxit</li>
          <li>Terms</li>
          <li>Privacy policy</li>
          <li>Legal notice</li>
          <li>Accessibility</li>
        </ul>
      </div> 
    </div>
    <script src="https://kit.fontawesome.com/0a52485262.js"crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="/views/Assets/main.js"></script>
  </body>
</html>
