<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/Assets/styleLogin.css">
    <title>login</title>
</head>
    <body>
        <div class="container">
            <div class="card1">
            </div>
            <div class="card2">
                <div class="login">
                    <h3>Login</h3>
                    <h6>Enter your credentials to acces your account.</h6>
                    <form action="get">
                        <label for="Email">Email</label>
                        <input type="email" name="Email" id="Email" placeholder=" Enter your email ..">
                        
                        <label for="Password">Password</label>
                        <input type="password" name="password" id="password" placeholder=" Enter your password ..">
                        
                        <input class="CBlabel" type="checkbox" name="Remembere" id="RememberMe">
                        <label id="CBlabel" for="RememberMe">Remember me</label>
                        
                        <a href="">Forgot Password</a>
                        <input class="button" type="submit" value="Login">
                    </form>
                    <a href="">Don't have a Account? <span>Sign Up</span></a>
                </div>
            </div>
        </div>
    </body>
</html>
<!-- <body>
    <div class="container"> 
        <div class="images">
            <img src="/views/Assets/pexels-brady-knoll-3221145.jpg" alt="">
        </div>
        <div class="login">
            <h3>Login</h3>
            <h6>Enter your credentials to acces your account.</h6>
            <form action="">
                <label for="Email">Email</label>
                <input type="email" name="Email" id="Email" placeholder=" Enter your email">
                <br>
                <label for="Password">Password</label>
                <input type="password" name="password" id="password" placeholder=" ********">
                 -->
                <!-- <input class="CBlabel" type="checkbox" name="Remember me" id="RememberMe">
                <label class="CBlabel" for="RememberMe">Remember me</label>
                <br> -->
            <!-- <a href="">Forgot Password</a>
            <input class="button" type="submit" value="Login">
            </form>
            <a href="">Don't have a Account? <span>Sign Up</span></a>
        </div>
       
    </div>
</body> -->